<?xml version="1.0" encoding="UTF-8"?>
<root>
    <part id="aaa">
        <name>dev</name>
        <body>1111111111111111111111111111111111111111111111111111111111</body>
    </part>
    <part id="bbb">
        <name>"dev_01"</name>
        <body>dbhsaoudhbsaodsahpidbsapidnsapdnbsapdbnaspdnsa</body>
    </part>
    <part id="ccc">
        <name>dev_02</name>
        <body>dhsap[odisakdsa]dksad150f61esdfe6wfewifnhwefhbipfnebw fvbewy</body>
    </part>

</root>
